<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All users</title>  <!--это название самой вкладки-->
</head>
<body>
<h2>Users</h2>
<table>
  <thead>   <!--определяет заголовок таблицы-->
  <tr>      <!--tr это table row этот тег обозначает строку таблицы   row-ряд-->
    <th>ID</th>   <!--th это table header используется для создания заголовка(столбцов или строк) ячейки в таблице-->
    <th>Name</th>   <!--здесь перечислены названия столбцов в таблице : ID,Name,Email,Age-->
    <th>Email</th>
    <th>Age</th>
  </tr>
  </thead>
  <tbody>    <!--содержит строки данных таблицы-->
  <tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>   <!-- td это table data этот тег используется для
            создания обычной ячейки данных в таблице. Ячейки, созданные  с помощью <td> , содержат
             фактические данные таблицы -->
    <td th:text="${user.name}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.age}"></td>
    <!--каждая строка пользователя содержит две формы -->
    <td>   <!--форма для редактирования пользователя.При нажатии кнопки "Edit" отправляется запрос на /users/edit с ID пользователя-->
      <form th:action="@{/users/edit}"> <!--th:action="@{/users/edit}": Это атрибут Thymeleaf, который указывает URL, на который будет отправлен запрос при отправке формы.-->
        <button type="submit" th:name="id" th:value="${user.id}">Edit</button><!--button Это HTML-элемент кнопки.-->
        <!--type="submit": Указывает, что эта кнопка будет отправлять форму при нажатии.-->
        <!--th:name="id": Это атрибут Thymeleaf, который задает имя параметра, который будет отправлен вместе с формой. В данном случае имя параметра будет id.-->
        <!--th:value="${user.id}": Этот атрибут задает значение параметра id, которое будет отправлено при отправке формы.
         Здесь ${user.id} — это выражение Thymeleaf, которое извлекает значение идентификатора пользователя из объекта user.
         Таким образом, когда пользователь нажимает кнопку "Edit", в запросе будет передан идентификатор этого пользователя.http://localhost:8080/users/edit?id=13-->
      </form> <!--<form>: Это HTML-элемент, который определяет форму для ввода данных. В данном случае форма будет использоваться для отправки запроса на сервер.-->

    </td>
    <td>
      <form method="post" th:action="@{/users/delete}">  <!--форма для удаления пользователя. При нажатии кнопки Delete отправляется Post запрос на users/delete с ID пользователя-->
        <button type="submit" th:name="id" th:value="${user.id}">Delete</button>
      </form>
      <!--Пользователь нажимает кнопку "Delete".
Браузер формирует POST-запрос к /users/delete, включая в теле запроса параметр id, например: id=5.
Сервер получает этот запрос и вызывает метод контроллера.
Метод извлекает id из тела запроса и выполняет удаление пользователя с этим идентификатором.
После завершения операции происходит перенаправление на страницу со списком пользователей.-->
    </td>
  </tr>  <!--закрывающий тег tr завершает строку таблицы-->
  </tbody>  <!--закрывающий тег завершает тело таблицы-->
</table>
<a href="/users/new">Create new user</a>  <!--Когда пользователь видит текст "Create new user" на веб-странице и
 нажимает на него, браузер выполняет переход по адресу /users/new.-->
</body>
</html>